.default-page-header {
    .container{
        .row{
            height: 560px;
            @media only screen and (max-width: 991px) {
                height: 400px;
            }
            @media only screen and (max-width: 767px) {
                height: 280px;
            }
        }
    }
}

