$fade: cubic-bezier(.38,.11,.24,.94);
$smooth: cubic-bezier(.555, .205, .295, 0.975);

.screenreader-text {
    position: absolute;
    left: -999px;
    width:1px;
    height: 1px;
    top: auto;
    &:focus {
        color: $color-white;
        display: inline-block;
        height: auto;
        width: auto;
        position: static;
        margin: auto;
    }
}

body.locked,
html.locked {
    height: 100%;
    overflow-y: hidden;
    position: fixed;
}

.main-header {
    max-height: 107px;
    background-color: $bg-color-primary;

    &.transparent {
        background-color: transparent;
        position: absolute;

        .brand {
            .logo {
                display: none;
                @media only screen and (max-width: 1200px) {
                    display: block;
                }
                &.transparent {
                    display: block;
                    @media only screen and (max-width: 1200px) {
                        display: none;
                    }
                }
            }
        }

        @media only screen and (max-width: 1200px) {
            background-color: $bg-color-primary;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0,38,78,0.7) 0%, rgba(0,78,134,0) 100%);
            background-size: cover;

            @media only screen and (max-width: 1200px) {
                display: none;
            }
        }
    }

    .container {
        z-index: 2;

        .row {
            align-items: center;

            @media only screen and (max-width: 1200px) {
                flex-direction: row;
                justify-content: space-between;
            }
            @media only screen and (max-width: 991px) {
                padding-right: 12px;
                padding-left: 12px;
            }
        }
    }

    .brand {
        padding: 34px 0 34px 60px;
        padding-left: 0px;
        .logo {

            display: block;
            &.transparent {
                display: none;
            }
        }
        @media only screen and (min-width: 1201px) {
            padding-left: calc(var(--bs-gutter-x) * 0.5);
        }
        @media only screen and (max-width: 1200px) {
            padding-top: 20px;
            padding-bottom: 20px;
            max-width: 192px;
            width: 100%;
        }
        @media screen and (max-width: 1200px) and (min-width: 992px) {
            padding-left: calc(var(--bs-gutter-x) * 0.5);
        }
    }
}

